In [14]:
#Python program to flatten tuple of lists to tuple

def con(a):
    t=()
    for i in a:
        t+=tuple(i)
    return t
    
a=([3,5],[6,7,8],[1,2,12,10])
t=con(a)
print("The flattened tuple is:",t)

The flattened tuple is: (3, 5, 6, 7, 8, 1, 2, 12, 10)

In [15]:
#Python program to flatten tuple of lists to tuple using sum() function
def flatten(a):
    t=tuple(sum(a,[]))
    return t

a=([3,5],[6,7,8],[1,2,12,10])
t=flatten(a)
print("The flattened tuple is:",t)

The flattened tuple is: (3, 5, 6, 7, 8, 1, 2, 12, 10)

In [16]:
#Python program to convert set into tuple and tuple into set

def con1(x,y):
    s=tuple(x)
    t=set(y)
    return x,y

x={1,2,5,6,7,10}
y=("abs",16,10,19)
res=con1(x,y)
print(res)

({1, 2, 5, 6, 7, 10}, ('abs', 16, 10, 19))

In [17]:
#Convert list of dictionary to tuple list in python

dic=[{"name":["Kia","Lia"],"age":[19,20]},{"city":["Rome","Miami"],"street no":[13,54]}]
dic1={}
t=[]
for i in dic:
    for key in i.keys():
        if key in dic1:
            dic1[key]+=i[key]
        else:
            dic1[key]=i[key]
for key in dic1.keys():
    t.append(tuple([key]+dic1[key]))
print("The converted tuple list is: ",t)

The converted tuple list is:  [('name', 'Kia', 'Lia'), ('age', 19, 20), ('city', 'Rome', 'Miami'), ('street no', 13, 54)]

In [18]:
#Python Sort tuple list by Nth element of tuple

l=[(12,5,34),(23,12,9),(3,17,30),(20,34,12)]
n=int(input("enter the nth element: "))
#using lambda function
l.sort(key = lambda x: x[n]) 
print("Tuple list after sorting by Nth element is : ",l)

enter the nth element: 1
Tuple list after sorting by Nth element is :  [(12, 5, 34), (23, 12, 9), (3, 17, 30), (20, 34, 12)]

In [19]:
#Python program to find tuple indices from other tuple list

l=[(28,14,34),(23,89,10),(35,29,15)]
l1=[(34,76,12),(28,14,34),(23,89,10)]
list=[]
for _ in l1:
    if _ in l:
        list.append((l.index(_)))
print("The tuple indices are:",str(list))

The tuple indices are: [0, 1]

In [20]:
#Convert dictionary value list to dictionary list python

lt = [{'Name' : ["Mia","Kun","Kia"]}, {'Age' : [19,19,22]},{'SGPA':[9.6,6.5,7.6]}]
result =[{} for i in range(len(lt))]
a = 0
for ele in lt:
    for key, val in ele.items(): 
        for j in val:
            result[a][key] = j
            a += 1
        a = 0

# printing result 
print("Dictionary list ->",result)

Dictionary list -> [{'Name': 'Mia', 'Age': 19, 'SGPA': 9.6}, {'Name': 'Kun', 'Age': 19, 'SGPA': 6.5}, {'Name': 'Kia', 'Age': 22, 'SGPA': 7.6}]